@charset "utf-8";
@import url(../layui/css/layui.css);
*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
a{
	text-decoration: none;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
    min-height: 100%;
    -moz-box-sizing: border-box; /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box; /*W3C标准*/
}

/*头部*/
.header{
	width: 100%;
	height: 45px;
	background-color: #033833;
	border-bottom: 1px solid rgba(46, 23, 60, 1);
}
.header .logo a{
	float: left;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
	line-height: 45px;
	width: 170px;
}
.header .right{
	background-color:rgba(0,0,0,0);
	float: right;
}
.header .right li {float:left;}
.header .right li.user{
    width:40px; height:46px;
    overflow: hidden;
}
.header .right li.user img{
    border-radius: 40px;
    margin-top:3px;
}
.left_open{
    position:absolute;
    top:7px;
    height:32px; width:32px;
    left:180px;
    z-index: 22; 
}
.left_open i{
	display: block;
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index: 22;
}
.left_open i:hover{
	background: rgba(0, 150, 136, .9);
}
.header .layui-nav-item{
	line-height: 45px;
}
.header .layui-nav-child{
	top: 50px;
}
/* 左侧导航 */
.layui-nav .layui-nav-item a{
	color: #fff;
}
.layui-nav .layui-nav-child a{
	color: #333;
}
.left-nav{
	position: absolute;
    top: 46px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(210, 222, 221, .5);
	width: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid rgba(226,216,226,0.1);
}
.left-nav #nav li>a:hover{
    color:#fff; 
    background:rgba(0, 150, 136, .9)
}
.active a{
	color:#fff;
    background:rgba(0, 150, 136, .9)
}
.left-nav #nav li{
	border-bottom: 1px solid #f1f1f1;
}
.left-nav #nav .current{
	background:rgba(0, 150, 136, .9)
}
.left-nav #nav li a{
	font-size: 14px;
	padding: 10px 10px 10px 18px;
	display: block;
	cursor: pointer;
}
.left-nav #nav li a cite{
	font-size: 14px;
}
.left-nav #nav li .sub-menu{
	display: none;
}
.left-nav #nav li .opened{
	display: block;
}
.left-nav #nav li .sub-menu li a{
	padding: 12px 10px 12px 45px;
	font-size: 14px;
	cursor: pointer;
}
.left-nav #nav li .sub-menu li .sub-menu li a{
	padding-left: 60px;
}
.left-nav #nav li .sub-menu li a:hover{
    background:rgba(0, 150, 136, .9)
}
.left-nav #nav li .sub-menu li a i{
	font-size: 12px;
}
.left-nav #nav li a i{
	padding-right: 10px;
	line-height: 14px;
}
.left-nav #nav li .nav_right{
	float: right;
	font-size: 16px;
}

/* 主题页面样式 */
.page-content{
	position: absolute;
    top: 46px;
    right: 0;
    bottom: 0;
    left: 221px;
    overflow: hidden;
    z-index: 1;
}
.page-content .tab{
	height: 100%;
	width: 100%;
	background: #f2f2f2;
	margin: 0px;
}
.page-content .layui-tab-title{
	height: 35px;
	background:#f2f2f2;
	position: relative;
	z-index: 100;
}
.page-content .layui-tab-title li{
	line-height: 35px;
}
.page-content .layui-tab-title .layui-this:after{
	height: 36px;
}
.page-content .layui-tab-title li .layui-tab-close{
	border-radius: 50%;
}
.page-content .layui-tab-title .layui-this{
	background: #fff url() 0 0 no-repeat;
}
.page-content .layui-tab-bar{
	height:34px;
	line-height: 35px;
}
.page-content .layui-tab-content{
	position: absolute;
	top: 36px;
	bottom: 0px;
	width: 100%;
	background: #fff url() 0 0 no-repeat;
	padding: 0px;
	overflow: hidden;
}
.page-content .layui-tab-content .layui-tab-item{
	width: 100%;
	height: 100%;
}
.page-content .layui-tab-content .layui-tab-item iframe{
    -moz-box-sizing: border-box; /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box; /*W3C标准*/
    margin: 0; padding: 0;
	width: 100%;
	height: 100%;
}
/*  */
@media screen and (max-width: 768px){
	.fast-add{
		display: none;
	}
	.layui-nav .to-index{
		display: none;
	}
	.header .logo a{
		width: 140px;
	}
	.left-nav{
		left: -221px;
	}
	.page-content{
		left: 0px;
	}
	.page-content .layui-tab-content .layui-tab-item{
		-webkit-overflow-scrolling: touch;
  		overflow-y: scroll;
	}
}











